*{
    color:green;
    font-family:'Times New Roman', Times, serif,Cambria, Cochin, Georgia;
}
body, html {
   margin: 0;
   padding: 0;
   overflow-x: hidden;   
}
.nav a.active {
  pointer-events: none; 
  color:#b38b7d  ;     
  cursor: default;      
}
.head{
   background: url("head_resized.png") no-repeat top center;
   background-size: cover;
   padding: 20px;
   color: green;
   text-align: center;
   position: relative;
   font-size: 23px;
   width:100%;
}
.head h3{
   top: -15px;
   position: relative; 
   font-size: 25px;
}
.back a {
    position: absolute;
    right: 0;                
    text-decoration: none;
    font-weight: bold;
    padding-right: 2%;
    font-size: 20px;
}
.desc{
   text-align: center;
}
.image img{
   width:400px;
   float: left;
   height: 300px;
}
.crud{
   margin: 4% 40% ;
   font-size: 20px;
   margin-bottom: 2%;
}
.crud input {
   font-size: 18px;
   text-align: center;
   padding: 2%;
}
.crud ol li{
   margin-bottom: 4%;
}
.crud button{
   margin: 10px;
   font-size: 16px;
}
.done{
   font-size: 20px;
   width:400px;
   background: linear-gradient(135deg, #e879c8, #9fbef3, #b2f7ef);
   margin:0% 37%;
}

.footer{
   clear: both;
   background-color:rgb(173, 247, 174);
   color:green;
   font-size: 18px;
}
.footerabout{
   float:left;
   padding-top: 3%;
   padding-left: 8%;
}
.footerlinks a{
text-decoration: none;
color: blue;
}
.footerlinks{
   padding-top: 3%;
}
.footersocial{
   clear:both;
}
.footerlinks a:hover{
   font-size: 23px;
}
@media screen and (max-width: 600px){
   *{
      font-size: 15px;
   }
  .head h3{
   font-size: 10px;
   margin-left: -20px;
  }
   .nav a{
      text-align: center;
      flex:wrap;
      justify-content: space-between;
      font-size: 60%;
      flex:unset;
      gap:5%;
      margin-left: -35px;
   }
   .image{
      margin-top:35px;
   }
   .image img{
      width: 40%;
      height: 15%;
   }
   .crud{
      width: 95%;
      margin-top: 45px;
   }
   .crud input{
      width:50%;
      font-size: 15px;
   }
   .crud button{
      display:flex;
      font-size: 15px;
   }
   .desc h2{
      font-size:12px;
   }
   .done{
      clear: both;
      margin: 0;
      width: 100%;
   }
   .done h2{
      text-align: center;
   }
   footer{
      padding: 1.5%;
   }
}