*{
   color: green;
   font-family:'Times New Roman', Times, serif,Cambria, Cochin, Georgia;
}
.head{
   background: url("head_resized.png") no-repeat top center;
   background-size: cover;
   padding: 20px;
   color: green;
   text-align: center;
   position: relative;
   font-size: 23px;
   width:100%;
}
body, html {
   margin: 0;
   padding: 0;
   overflow-x: hidden;   
}

.head h3{
   top: -15px;
   position: relative; 
   font-size: 25px;
}
.nav{
  padding:20px;
  display: flex;
  justify-content:space-around;
  width:100%;
}

.nav a{
   font-size: 23px;
   text-decoration: none;
   color:green;
}
.nav a:hover{
   color:orange;
}
.nav a:active{
   color:red;
}
.nav a.active {
  pointer-events: none; /* Disables clicking */
  color:#b38b7d  ;     /* Change color so it looks inactive */
  cursor: default;      /* Normal arrow cursor */
}
.daily_journal{
   text-align: center;
   color: green;
   font-size: 18px;
}
.daily_journal h2{
   color: rgb(2, 133, 2);
   padding:1%;
   background-color:  rgb(173, 247, 174);
}
.daily_journal textarea{
   font-size: 95%;
}
.daily_journal input{
   font-size: 90%;
   padding:2px;
}
.Save_entry{
   display: block;
   margin: 20px auto;
   font-size: 19px;
   padding: 1%;
   border-radius: 4px;
   background-color: rgb(247, 185, 69);
   color:green;
   margin-top: 2%;
}
 .Save_entry:hover{
   cursor:pointer;
   
}
.prev_entry{
   border:1px solid orange;
   margin:2%;
   width:40%;
   box-shadow: 0 4px 10px gray;
   height:200px;
   background: linear-gradient(135deg, #ffffff, #fce4ec, #e3f2fd, #e8f5e9, #ffffff);
}
#entries {
   font-size: 20px;
   clear: both;
   display: block;
   text-align: left;
   overflow-x: auto;
   overflow-y: auto;
}
.footer{
   background-color:rgb(173, 247, 174);
   color: green;
}
.footerabout{
   float:left;
   padding-top: 3%;
   padding-left: 3%;
}
.footerabout h2{
   font-size: 23px;
}
.footerabout p{
   font-size: 20px;
}
.footerlinks a{
text-decoration: none;
}
.footerlinks{
   padding-top: 3%;
}
.footerlinks a{
   color: blue;
}
.footersocial{
   clear:both;
}
.footerlinks a:hover{
   font-size: 23px;
}
@media screen and (max-width: 600px){
   *{
      font-size: 13px;
   }
  .head h3{
   font-size: 10px;
   margin-left: -20px;
  }
   .nav a{
      text-align: center;
      flex:wrap;
      justify-content: space-between;
      font-size: 60%;
      flex:unset;
      gap:5%;
      margin-left: -30px;
   }
    .daily_journal{
      width:100%;
   }
   .daily_journal textarea{
      font-size: 80%;
      width:70%;
   }
   .Save_entry{
      font-size: 90%;
   }
   .prev_entry{
      font-size: 90%;
      width: 80%;
      margin-bottom: 25px;
   }
     .footer{
      padding:2%;
   }
  .footerabout h2{
      font-size: 90%;
      
   }
   .footerabout p{
      font-size: 90%;
   }
   .footerpara p{
      font-size: 85%;
   }
}