
*{
   color: green;
   font-family:'Times New Roman', Times, serif,Cambria, Cochin, Georgia;
}
body, html {
   margin: 0;
   padding: 0;
   overflow-x: hidden;   
}
.head{
   background: url("head_resized.png") no-repeat top center;
   background-size: cover;
   padding: 20px;
   color: green;
   text-align: center;
   position: relative;
   font-size: 23px;
   width:100%;
   max-width:100%;
}

.head h3{
   top: -15px;
   position: relative; 
   font-size: 25px;
}
.nav{
  padding:20px;
  display: flex;
  justify-content:space-around;
  width:100%;
}

.nav a{
   font-size: 23px;
   text-decoration: none;
   color:green;
}
.nav a:hover{
   color:orange;
}
.nav a:active{
   color:red;
}
.nav a.active {
  pointer-events: none; /* Disables clicking */
  color:#b38b7d  ;     /* Change color so it looks inactive */
  cursor: default;      /* Normal arrow cursor */
}
.mood{
    text-align: center;
    padding:2%;
    background-color: rgb(173, 247, 174);
    color: rgb(2, 102, 2);
}
.mood button{
    margin-right: 2%;
    font-size: 18px;
    padding: 0.5%;
    color:green;
    border-radius: 5px;
}
.mood button:hover{
    cursor:pointer;
    background-color:white;
}

.d_entry{
   text-decoration: none;
   font-size: 25px;
 display: block;
 text-align: center;
 margin-bottom: 2%;
}
.d_entry:hover{
   color:red;
}

#story{
   font-size: 25px;
   margin: 0 2% 2% 2%;
   padding: 2%;
   line-height: 1.5em;
}
.tit {
   font-size: 22px;
   padding:1%;
   text-align: center;
   background-color: rgb(235, 234, 234);
}
.mstory h3{
   font-size: 25px;
   text-align: center;
}
.mstory p{
   font-size: 22px;
   padding:1%;
   text-align: center;
}

.footer{
   background-color:rgb(173, 247, 174);
   color:green;
   font-size: 18px;
}
.footerabout{
   float:left;
   padding-top: 3%;
   padding-left: 8%;
}
.footerlinks a{
text-decoration: none;
color: blue;
}
.footerlinks{
   padding-top: 3%;
}
.footersocial{
   clear:both;
}
.footerlinks a:hover{
   font-size: 23px;
}

@media screen and (max-width: 600px){
   *{
      font-size: 13px;
      padding: 1%;
   }
  .head h3{
   font-size: 10px;
   margin-left: -20px;
  }
   .nav a{
      text-align: center;
      flex:wrap;
      justify-content: space-between;
      font-size: 60%;
      flex:unset;
      gap:5%;
      margin-left: -35px;
   }
   .tit{
      font-size: 90%;
   }
   .mood{
      font-size: 90%;
   }
   .mood button{
      font-size: 80%;
   }
 .mstory{
   width:100%;
   
 }
   .mstory h3{
         font-size: 90%;
   }
   #story{
      font-size: 90%;
   }
   /*.daily_journal{
      width:100%;
   }
   .daily_journal textarea{
      font-size: 80%;
      width:70%;
   }
   .Save_entry{
      font-size: 90%;
   }
   .prev_entry{
      font-size: 90%;
      width: 80%;
      margin-bottom: 25px;
   }*/
   .d_entry{
      width:100%;
      padding: 2%;
      font-size: 95%;
   }
   
}
