*{
   color:green;
   font-family:'Times New Roman', Times, serif,Cambria, Cochin, Georgia;
}
body, html {
   margin: 0;
   padding: 0;
   overflow-x: hidden; 
}
.head{
   background: url("head_resized.png") no-repeat top center;
   background-size: cover;
   padding: 20px;
   color: green;
   text-align: center;
   position: relative;
   font-size: 23px;
   width:100%;
}
.head h3{
   top: -15px;
   position: relative; 
   font-size: 25px;
}
 a{
    color:blue;
    text-decoration: none;
}
.log_container{
   background-color: rgb(193, 241, 193);
   padding: 2%;
   width:50%;
   height: auto;
   box-shadow: 0 7px 15px rgba(4, 4, 4, 0.1);
   border-radius: 8px;
}
p{
   font-size: 20px;
}

 input{
   font-size: 20px;
   margin-bottom: 1%;
   border-radius: 4px;
   padding:5px;
 }
 label{
    margin-right: 1%;
    display: inline-block;
    width: 150px;
    font-size: 20px;
 }
 .submit{
    font-size: 20px;
    padding:9px 24px;
    border-radius: 4px;
 }
 .submit:hover{
    background-color:rgb(241, 180, 66);
 }
.footer{
   background-color:rgb(173, 247, 174);
   color:green;
   font-size: 18px;
}
.footerabout{
   float:left;
   padding-top: 3%;
   padding-left: 8%;
}
.footerlinks a{
text-decoration: none;
color: blue;
}
.footerlinks{
   padding-top: 3%;
}
.footersocial{
   clear:both;
}
.footerlinks a:hover{
   font-size: 23px;
}

@media screen and (max-width: 600px){
*{
      font-size: 12px;
      padding:1%;
   }
    .head h3{
   font-size: 10px;
   margin-left: -20px;
  }
   .log_container{
      width:80%; 
   }
   input{
    margin-top: 5px;
    width:50%;
    display: flex;
   }
   label{
      width:50%;
   }
   .submit{
    font-size: 15px;
    padding:5px 20px;
    border-radius: 4px;
 }
 a{
   font-size: 15px;
 }

}
