*{
    color:green; 
    font-family:'Times New Roman', Times, serif,Cambria, Cochin, Georgia;
}
.head{
   background: url("head_resized.png") no-repeat top center;
   background-size: cover;
   padding: 20px;
   color: green;
   text-align: center;
   position: relative;
   font-size: 23px;
   width:100%;
}
body, html {
   margin: 0;
   padding: 0;
   overflow-x: hidden;   
}

.head h3{
   top: -15px;
   position: relative; 
   font-size: 25px;
}
.nav{
  padding:20px;
  display: flex;
  justify-content:space-around;
  width:100%;
}

.nav a{
   font-size: 23px;
   text-decoration: none;
   color:green;
}
.nav a:hover{
   color:orange;
}
.nav a:active{
   color:red;
}
.nav a.active {
  pointer-events: none; /* Disables clicking */
  color:#b38b7d  ;     /* Change color so it looks inactive */
  cursor: default;      /* Normal arrow cursor */
}
h2{
   text-align: center;
   background-color: rgb(175, 247, 175);
   padding: 1%;
   word-spacing: 0.5em;
}
.card-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 30px;    
  justify-content: center; 
  padding: 20px;
}
.card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width:350px;
  height:540px;
  background-color: rgb(187, 243, 187);
   overflow: hidden;
   box-shadow: 0 8px 20px grey;
   margin-left:30px;
}
.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  width:300px;
  height:300px;
  padding:25px;
}
.card h3{
   text-align: center;
}
.card p{
   font-size: 20px;
   text-align: center;
   padding: 0 3% 0 3%;
}
.section-title {
  display: flex;          
  justify-content: center; 
  align-items: center; 
  width: 100%;              
  margin: 20px 0; 
  font-size: 25px;
  background-color: bisque;
  padding: 1%;         
}
.quiz{
  font-size: 21px;
  text-align: center; 
}
.footer{
   background-color:rgb(173, 247, 174);
   color:green;
   font-size: 18px;
}
.footerabout{
   float:left;
   padding-top: 3%;
   padding-left: 8%;
}
.footerlinks a{
text-decoration: none;
color: blue;
}
.footerlinks{
   padding-top: 3%;
}
.footersocial{
   clear:both;
}
.footerlinks a:hover{
   font-size: 23px;
}
@media screen and (max-width: 600px){
   *{
      font-size: 15px;
      padding: 1%;
   }
  .head h3{
   font-size:10px ;
   margin-left: -20px;
  }
   .nav a{
      text-align: center;
      flex:wrap;
      justify-content: space-between;
      font-size: 60%;
      flex:unset;
      gap:5%;
      margin-left: -30px;
   }
   .quiz{
      width:95%;
      font-size: 90%;
   }
   .card {
   width: 95%;
   height:380px;
   max-width: 350px;
   overflow: hidden;
   box-shadow: 0 8px 20px grey;
   margin-left: -5px;
  }
   .card :hover{
   transform: scale(1.05);
  }
  .card img {
    height: 200px;
    margin-top: -23px;
    object-fit: cover;
    margin-left:-25px;
  }
  .card p{
   font-size: 15px;
  }
 
  
}

